.content {
    margin-top: 100px;
    display: flex;
    min-height: 500px;
}

.lado2 {
    padding-left: 20px;
}

.lado2 h2 {
    padding: 0;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse ;
    padding-right: 10px;
    
  }
  th {
    background-color: #3c6d6d;
    padding: 10px;
    color: white;
  }

  td {
    background-color: #96D4D4;
    padding: 10px;
  }

  td:hover {
    background-color: #ade0e0;
    cursor: pointer;
  }